<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>WonderStandard</title>
		<webobject name="Stylesheet"></webobject>
	</head>
	<body>
		<h1>WonderStandard</h1>
		<p>Project Wonder 7.5, the standard Maven layout.</p>
		<dl>
			<dt>Bundle</dt>
			<dd><code><webobject name="BundleClass"></webobject></code></dd>
			<dt>From the Properties file</dt>
			<dd><strong><webobject name="Greeting"></webobject></strong></dd>
			<dt>A component action</dt>
			<dd><webobject name="Bump">Count</webobject>: <span id="counter"><webobject name="Counter"></webobject></span></dd>
		</dl>
	</body>
</html>
